#
# General setup
#
CONFIG_LOCALVERSION="-L8A4BLO"
CONFIG_KERNEL_GZIP=n
CONFIG_KERNEL_ZSTD=y
CONFIG_DEFAULT_HOSTNAME="L8A4BLO"
CONFIG_WATCH_QUEUE=y
CONFIG_USELIB=n

#
# Timers subsystem
#
CONFIG_NO_HZ=n
# end of Timers subsystem

# CONFIG_TIME_KUNIT_TEST is not set

#
# BPF subsystem
#
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_BPF_JIT_DEFAULT_ON=y
CONFIG_BPF_UNPRIV_DEFAULT_OFF=no
CONFIG_USERMODE_DRIVER=y
CONFIG_BPF_PRELOAD=no
CONFIG_BPF_LSM=no
# end of BPF subsystem

CONFIG_SCHED_CORE=y

#
# CPU/Task time and stats accounting
#
CONFIG_BSD_PROCESS_ACCT_V3=y
CONFIG_TASKSTATS=no
# CONFIG_PSI is not set
# end of CPU/Task time and stats accounting

#
# RCU Subsystem
#
CONFIG_TASKS_RCU_GENERIC=y
CONFIG_TASKS_RUDE_RCU=y
CONFIG_TASKS_TRACE_RCU=y
# end of RCU Subsystem

CONFIG_BUILD_BIN2C=y
CONFIG_IKCONFIG=m
CONFIG_IKCONFIG_PROC=y
CONFIG_IKHEADERS=m
CONFIG_NUMA_BALANCING=y
CONFIG_NUMA_BALANCING_DEFAULT_ENABLED=y
CONFIG_PAGE_COUNTER=y
CONFIG_MEMCG=y
CONFIG_MEMCG_SWAP=y
CONFIG_MEMCG_KMEM=y
CONFIG_BLK_CGROUP=y
CONFIG_CGROUP_WRITEBACK=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_RDMA=y
CONFIG_CGROUP_HUGETLB=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_PERF=y
CONFIG_CGROUP_BPF=y
CONFIG_CGROUP_MISC=y
CONFIG_SOCK_CGROUP_DATA=y
CONFIG_USER_NS=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_RD_GZIP=n
CONFIG_RD_BZIP2=n
CONFIG_RD_LZMA=n
CONFIG_RD_LZO=n
CONFIG_RD_LZ4=n
CONFIG_BOOT_CONFIG=y
CONFIG_EXPERT=y
CONFIG_HAVE_ARCH_USERFAULTFD_WP=y
CONFIG_HAVE_ARCH_USERFAULTFD_MINOR=y
CONFIG_USERFAULTFD=y
# CONFIG_DEBUG_RSEQ is not set
# CONFIG_PC104 is not set
# CONFIG_SLOB is not set
CONFIG_SLAB_FREELIST_RANDOM=y
CONFIG_SLAB_FREELIST_HARDENED=y
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y
CONFIG_HAVE_INTEL_TXT=n
CONFIG_DYNAMIC_PHYSICAL_MASK=y
CONFIG_PGTABLE_LEVELS=4
CONFIG_X86_X2APIC=y
CONFIG_X86_MPPARSE=n
CONFIG_X86_CPU_RESCTRL=y
CONFIG_X86_EXTENDED_PLATFORM=n
CONFIG_X86_AMD_PLATFORM_DEVICE=y
CONFIG_IOSF_MBI=n
CONFIG_HYPERVISOR_GUEST=y
# CONFIG_PARAVIRT is not set
# CONFIG_ARCH_CPUIDLE_HALTPOLL is not set
# CONFIG_PVH is not set
# CONFIG_JAILHOUSE_GUEST is not set
# CONFIG_ACRN_GUEST is not set
CONFIG_MK8=y
CONFIG_GENERIC_CPU=n
CONFIG_X86_INTEL_USERCOPY=y
CONFIG_X86_USE_PPRO_CHECKSUM=y
CONFIG_PROCESSOR_SELECT=y
CONFIG_CPU_SUP_INTEL=n
CONFIG_CPU_SUP_HYGON=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_CPU_SUP_ZHAOXIN=n
CONFIG_NR_CPUS=16
CONFIG_X86_MCE_INTEL=n

#
# Performance monitoring
#
CONFIG_PERF_EVENTS_INTEL_RAPL=m
CONFIG_PERF_EVENTS_AMD_POWER=m
# end of Performance monitoring

CONFIG_MICROCODE_INTEL=n
CONFIG_X86_MSR=m
CONFIG_X86_CPUID=m
CONFIG_X86_5LEVEL=n
CONFIG_X86_CPA_STATISTICS=y
CONFIG_AMD_MEM_ENCRYPT=y
CONFIG_AMD_MEM_ENCRYPT_ACTIVE_BY_DEFAULT=y
AMD_NUMA=n
CONFIG_NODES_SHIFT=1
CONFIG_MTRR_SANITIZER=y
CONFIG_MTRR_SANITIZER_ENABLE_DEFAULT=0
CONFIG_MTRR_SANITIZER_SPARE_REG_NR_DEFAULT=1
CONFIG_X86_SMAP=n
CONFIG_EFI_MIXED=n
CONFIG_KEXEC_FILE=y
CONFIG_ARCH_HAS_KEXEC_PURGATORY=y
CONFIG_KEXEC_SIG=y
# CONFIG_KEXEC_SIG_FORCE is not set
CONFIG_KEXEC_BZIMAGE_VERIFY_SIG=y
# CONFIG_CRASH_DUMP is not set

#
# Power management and ACPI options
#
CONFIG_HIBERNATION=n
CONFIG_PM_WAKELOCKS=y
CONFIG_PM_WAKELOCKS_LIMIT=100
CONFIG_PM_WAKELOCKS_GC=y
CONFIG_PM_TRACE_RTC=y
CONFIG_PM_GENERIC_DOMAINS=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_PM_GENERIC_DOMAINS_SLEEP=y
CONFIG_PM_GENERIC_DOMAINS_OF=y
CONFIG_ENERGY_MODEL=y
CONFIG_ACPI_SPCR_TABLE=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_ACPI_EC_DEBUGFS=m
CONFIG_ACPI_VIDEO=m
CONFIG_ACPI_TAD=m
CONFIG_ACPI_DOCK=n
CONFIG_ACPI_PROCESSOR_AGGREGATOR=y
CONFIG_ACPI_SBS=m
CONFIG_ACPI_HED=y
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=n
