name: "Update flake.lock"

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 6' # Saturday at 00:00

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: DeterminateSystems/update-flake-lock@v27
        with:
          pr-title: "Update flake.lock"
          pr-labels: |
            automerge
            dependencies
